html{
    font-size:16px;
}
body {
    margin:0 auto;
    background-image: url('../images/background.png');
    background-size: 100% 100%;
    max-width:1080px;
    width:72.5%;
}
.header {
    display:grid;
    grid-template-areas: 'logo links';
    grid-template-columns: 1fr 1.25fr;
    
    .logo {
        grid-area: 'logo';
        width:20rem;
    }
    .links {
        grid-area:'links';
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        a {
            padding: 1em;
            font-size:1.75rem;
            text-decoration: none;
            color:white;
        }
    }
}

.text-animation {
    margin:0.5em 0;
    font-size: 5rem;
    color:white;
    width:fit-content;
    .line-1{
        margin:0;
        border-right: 3px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden; 
    }

    
    .text{
            animation:
            blinkTextCursor 1000ms steps(23) infinite normal;
    }
    @keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 255, 255, 1);}
    to{border-right-color: transparent;}
    }
    
}


#cesiumContainer {
    margin:0 auto;
    margin-bottom:3em;
    padding:0.4rem;
    background-color: white;
    border-radius: 0.5rem;
}

.sliderParams{
    margin: 0 auto;
    .slider {
        display:grid;
        grid-template-areas: 
        "title question checkbox"
        "slider slider sliderValue";
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr 1fr;
        p {
            color: white;
            font-size:2rem;
            grid-area: title;
            margin:0 0;
        }
        svg {
            grid-area: question;
            justify-self: start;
            align-self: center;
            margin-left:1.5em;
        }
        .sliderInput {
            grid-area: slider;
        }
        .checkbox {
            grid-area: checkbox;
            justify-self: right;
            width:1.5em;
        }
        .sliderValue {
            color:white;
            font-size:1.5rem;
            grid-area:sliderValue;
            justify-self: left;
        }
    }
}
.walker {
    color:white;
    .textHeader {
        font-size:1.5rem;
        text-align: center;
        svg{
            width:0.75em;
            height:0.75em;
        }
    }
    .walkerInputs {
        display:flex;
        justify-content:center;
        align-items: center;
        .walkerInput{
            padding:0.5em;
            input {
                width:2em;
            }
        }
        #hiddenSubmit {
            display:none;
        }
    }
}

.epoch {
    color:white;
    display:grid;
    grid-template-areas: 
    "textHeader textHeader"
    "header ." 
    "inputField1 inputField2"
    ;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    width:fit-content;
    margin:0 auto;

    .textHeader {
        grid-area: textHeader;
        font-size:1.5rem;
        text-align: center;
        svg {
            width:0.75em;
            height:0.75em;
        }
    }
    label {
        grid-area:header;
    }
    #propDur {
        grid-area: inputField1;
    }
    #calendarField {
        grid-area:inputField2;
    }
    svg{
        stroke:white;
        fill:white;
        justify-self: center;
    }
}

.groundStations {

    /*
    display:grid;
    grid-template-areas:
    "title question"
    "textbox textbox"
    ;
    */
    margin:0 auto;
    width:fit-content;
    //grid-template-columns: auto 1fr;

    .title{
        color:white;
        margin:0 auto;
        width:fit-content;
        font-size:1.5rem;
    }
    textarea{
        border: 0px solid white;
    }
}

.submit {
    display:flex;
    background-color: white;
    padding:0.5em;
    font-size:2rem;
    width:fit-content;
    margin:0 auto;
    justify-content: center;   
}
#cesiumContainer {
    position:relative;
    .loading {
        display: none;
        justify-content: center;
        align-items: center;
        p {
            font-size: 5rem;
        }
        height: 97.2%;
        position:absolute;
        z-index:999;
        opacity: 0.9;
        background-color: white;
        width:98.9%;
    }
    .error {
        display: none;
        p {
            font-size: 2rem;
            margin-left:2%;
        }
        height: 97.2%;
        position:absolute;
        z-index:999;
        opacity: 0.9;
        background-color: lightsalmon;
        width:98.9%;
    }
}
.helper {
    display:none;
    position:fixed;
    flex-direction: column;
    top:0;
    left:0;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.5);
    width:100vw;
    justify-content: center;
    .info {
        max-width: 1200px;
        max-height: 300px;
        padding:0.5em;
        display:grid;
        grid-template-areas: 
        "infoHeader infoHeader"
        "helperDesc helperImage"
        "closeHelper closeHelper"
        ;
        color:white;
        align-self: center;
        background-color: black;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 3fr 20px;
        width:75%;
        height:50%;
        border: 3px solid white;
        border-radius: 10px;
        .infoHeader{
            text-align: center;
            grid-area: infoHeader;
        }
        .helperDesc {
            grid-area: helperDesc;
            align-self: center;
        }
        .helperImage{
            grid-area:helperImage;
            align-self: center;
            justify-self: center;
        }    
        .closeHelper {
            grid-area:closeHelper;
            justify-self: center;
            width:7.5%;

        }
    }

}
