html{
    font-size:16px;
}
body {
    margin:0 8rem;
}
.bg {
    background-image: url('../images/background.png');
    background-size: cover;
    width:100%;
    height:100%;
    z-index: -999;
    position:absolute;
}
.header {
    display:grid;
    grid-template-areas: 'logo links';
    grid-template-columns: 1fr 1.25fr;
    
    .logo {
        grid-area: 'logo';
        width:20rem;
    }
    .links {
        grid-area:'links';
        display:flex;
        justify-content: space-between;
        align-items: center;
        a {
            padding: 1em;
            font-size:1.75rem;
            text-decoration: none;
            color:white;
        }
    }
}

.text-animation {
    margin:0.5em 0;
    font-size: 5rem;
    color:white;
}
#cesiumContainer {
    margin:0 auto;
    margin-bottom:3em;
    padding:0.4rem;
    width:75%;
    background-color: white;
    border-radius: 0.5rem;
}

.sliderParams{
    width:75%;
    margin: 0 auto;
    .slider {
        display:grid;
        grid-template-areas: 
        "title question ."
        "slider slider sliderValue";
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        p {
            color: white;
            font-size:2rem;
            grid-area: title;
            margin:0 0;
        }
        svg {
            grid-area: question;
            justify-self: start;
            align-self: center;
            margin-left:1.5em;
        }
        input {
            grid-area: slider;
        }
        .sliderValue {
            color:white;
            font-size:1.5rem;
            grid-area:sliderValue;
        }
    }
}
.walker {
    color:white;
    .textHeader {
        font-size:1.5rem;
        text-align: center;
        svg{
            width:0.75em;
            height:0.75em;
        }
    }
    .walkerInputs {
        display:flex;
        justify-content:center;
        align-items: center;
        .walkerInput{
            padding:0.5em;
            input {
                width:2em;
            }
        }
    }
}

.epoch {
    color:white;
    display:grid;
    grid-template-areas: 
    "textHeader textHeader"
    "header ." 
    "inputField1 inputField2"
    ;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    width:30%;
    margin:0 auto;

    .textHeader {
        grid-area: textHeader;
        font-size:1.5rem;
        text-align: center;
        svg {
            width:0.75em;
            height:0.75em;
        }
    }
    label {
        grid-area:header;
    }
    #propDur {
        grid-area: inputField1;
    }
    #calendarField {
        grid-area:inputField2;
    }
    svg{
        stroke:white;
        fill:white;
        justify-self: center;
    }
}